@font-face {
    font-family: "Sailec";
    src: url("../fonts/Sailec-Medium.ttf");
}

body, html {
    background-color: rgb(184 211 255);
    height: 100%;
    width: 100%;
    font-family: Sailec, sans-serif;
}

.scrollbar-gutter-stable {
    scrollbar-gutter: stable;
}

@media screen and (max-width: 600px) {
    .col-25 {
        width: 100%;
        margin-top: 1rem;
    }
}