package templates

templ Head(title string) {
    <head>
        <title>{ title }</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="Go, Poll, GoPoll, emildel" />
        <meta name="description" content="A poll website made in Go" />
    </head>
}