package templates

templ JoinSession(sessionID, title string) {
    @Head("GoPoll | Session") {
        <h1>Some test page</h1>
        <p>Your session: { sessionID }</p>
        <p>Your title: { title }</p>
    }
}