package templates



templ Poll(title string, questions []string, isCreator bool) {

<!--    if isCreator {-->
<!--        @PollCreator(title, questions)-->
<!--    } else {-->
<!--        @JoinSession("abc123")-->
<!--    }-->

}
